body,.bloc,.bloc *{
    margin:0;
    padding:0;
    box-sizing:border-box
}
.bloc,li{
    display:flex;
    flex-direction:column;
    justify-content:space-between
}
.bloc{
    align-items:center;
    text-align:center;
    border:20px solid #000;
    min-height:100vh
}
.bloc>header,.bloc>footer{
    background-color:rgba(255,255,0,.2);
    width:100%;
    flex-basis:100px;
    padding:1em
}
.bloc article{
    font-size:20px;
    margin:0 auto
}
ul{
    display:flex;
    flex-flow:row wrap;
    font-size:1em;
    position:relative
}
li{
    align-items:stretch;
    z-index:1;
    cursor:pointer;
    outline:1px solid rgba(0,0,0,.8);
    width:2.5em;
    height:5em
}
li:hover{
    z-index:2;
    outline:2px solid grey
}
li.act{
    background-color:#000;
    color:white
}
li::after{
    order:2;
    content:"O"
}
li.act::after{
    content:"I"
}
li::before{
    order:1;
    content:attr(data-ord)
}
li::before,i{
    font-size:.7em
}
i{
    order:3;
    font-style:normal
}
i::after{
    display:block;
    content:attr(data-exp)
}
.bloc ul+p{
    height:2em;
    padding:5px;
    margin:.5em 0;
    font-size:2em
}
