body>div *,::before,::after{
    visibility:visible;
    opacity:1
}
body,.bloc,.bloc *{
    margin:0;
    padding:0;
    box-sizing:border-box
}
header,footer,article{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    position:relative
}
.bloc{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:stretch;
    min-height:100vh;
    background-color:#ccc
}
noscript{
    position:absolute;
    bottom:0
}
header,footer{
    word-break:break-all;
    flex-basis:80px;
    background-color:rgba(255,255,0,.2)
}
article{
    flex-grow:1;
    outline:4px solid rgba(0,0,0,.2);
    outline-offset:-4px;
    position:relative
}
