body>div *, ::before, ::after{
    visibility:visible;
    opacity:1
}
body{
    position:relative
}
#protector{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color:rgb(255,255,255);
    z-index:99999999
}
#disp{
    z-index:1;
}
body,.bloc,.bloc *{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header,footer,article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:relative
}
.bloc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height:100vh;
    background-color: #ccc;
}
noscript{
    position:absolute;
    bottom:0
}
#prg{
    outline:1px dotted green;
}
header,footer{
    width:100%;
    word-break: break-all;
    flex-basis: 50px;
    background-color: rgba(255,255,0,.2);
}
article{
    outline:2px solid rgba(0,0,0,.2);
    position:relative
}
#cnv{
    z-index: 1;
}
canvas{
    outline:2px solid red;
    outline-offset: -2px;
    display:block;
}
#plan{
    opacity:.5;
    cursor: pointer;
    position: absolute;
    z-index: 4;
    background-color: rgba(0,128,0,0.2);
    /*border-radius:50%;*/
    outline:1px solid green
}
#plan:focus{
    opacity: 1;
}
